@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* nav styles */

/* .header{
    margin: 87px 120px 120px 120px;
} */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 87px 120px 50px 120px;
}

.nav-links > li{
    list-style: none;
    display: flex;
}

.nav-link{
    text-decoration: none;
    color: black;
    font-size: 1.10rem;
}

.nav-links{
    display: flex;
    gap: 40px;
}

.nav-title{
    font-size: 1.5rem;
    font-weight: 700;

}

/* banner style */

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    margin-top: 80px;
    /* border: 1px solid #E02C6D; */
}

.banner-text{
    max-width: 882px;
}

.banner-title{
    font-size: 4.25rem;
    font-weight: 700;
    line-height: 100px;
}

.btn-banner{
    margin-top: 16px;
    padding: 10px 24px;
    border-radius: 2rem;
    background-color: #E02C6D;
    color: white;
    border: none;
}

.banner-img{
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size:contain;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img img{
    width: 500px;
    height: 425px;
    object-fit: cover;
    /* position: relative; */
    /* top: 4%;
    right: 1%; */
}

/* main section sponsors style */

.sponsors{
    max-width: 1610px;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    gap: 90px;
    position: relative;
    padding: 30px;
}

.sponsors img{
    width: 100%;
}

.sponsors::before,
.sponsors::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1px; /* Adjust for border thickness */
    background: linear-gradient(to right, transparent, #0d0d0d, #0d0d0d, transparent); /* Fading effect */
}

.sponsors::before {
    top: 0; /* Position for the top "border" */
}

.sponsors::after {
    bottom: 0; /* Position for the bottom "border" */
}

/* card styles */

.main-cart-title{
    text-align: center;
    margin-bottom: 50px;
}

.Popular-Collection{
    max-width: 1300px;
    margin: 100px auto;
    /* border: 1px solid #E02C6D; */
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-content: center;
}

.card{
    background-color: #d9d4d4;
    padding: 20px;
    border-radius: 8px;
}

.cards-container img{
    width: 356px;
    height: 256px;
    overflow: hidden;
    margin-bottom: 20px;
}

.card h2{
    font-size: 1.5rem;
    font-weight: 500;
}

.bottom-see{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    align-items: center;
}

/* Feature Style */

.Feature{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto;
    max-width: 1310px;
    gap: 100px;
    /* border: 1px solid #E02C6D; */
}

.feature-title{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.feature-btn{
    background-color: #E02C6D;
    padding: 10px 24px;
    margin-top: 30px;
    color: white;
    border: none;
}

/* footer style */
.footer{
    background-color: black;
    color: white;
    padding: 50px;
}

.footer-text{
    text-align: center;
}
.logos{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

/* mobile responsive */

@media screen and (max-width: 576px){
    .navbar{
        flex-direction: column;
        gap: 30px;
        margin: 0;
        margin-top: 35px;
        padding: 20px;
    }

    .nav-title{
        font-size: 1rem;
    }

    .nav-links{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;

    }

    .banner{
        flex-direction: column-reverse;
        gap: 5rem;
        padding: 20px;
    }

    .banner-title{
        font-size: 1.5rem;
        line-height: 50px;
        text-align: center;
    }

    .banner-description{
        text-align: center;
    }

    .banner-img{
        height: 300px;
    }

    .banner-img img{
        width: 100%;
        height: 100%;
    }

    .btn-parent{
        display: flex;
        justify-content: center;
    }

    .sponsors{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        padding: 20px;
    }

    .sponsors > :nth-last-child(1){
        grid-column: span 2;
        justify-self: center;
        width: 60%;
        /* margin: auto; */
    }

    .cards-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
    }

    .bottom-see{
        justify-content: center;
    }

    .Feature{
        flex-direction: column;
        gap: 50px;
        padding: 20px;
    }

    .footer{
        padding: 20px;
    }

    .footer-title{
        font-size: 1.5rem;
    }
}